.nav-bar {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  background-color: var(--white-color);
  border-radius: 40px;
  box-shadow: 0px 2px 10px 1px rgb(121, 121, 121);
  position: fixed;
  z-index: 999999;
}

.nav-bar .logo,
.nav-bar .nav-list {
  float: left;
}

.nav-bar .logo {
  width: 20%;
  margin-top: 25px;
}

.nav-bar .logo img {
  width: 75%;
  margin-left: 20px;
  cursor: pointer;
}

.nav-bar .nav-list {
  width: 80%;
}

.nav-bar .nav-list {
  list-style: none;
  padding: 28px 0;
}

.nav-bar .nav-list li {
  display: inline-block;
  margin: 0 8.5px;
}

.nav-bar .nav-list li a {
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: var(--gray-color);
  padding: 15px 0;
  letter-spacing: 0.5px;
  transition: color 0.6s;
}

.nav-bar .nav-list li a:hover {
  color: var(--color-1);
}
